<header>
  <h1>YOU'VE GOT {{ remainingTodos().length }} THINGS TO DO!</h1>
  <h4>{{ completedTodos().length }} things completed | {{ remainingTodos().length }} things remaining</h4>
</header>

<nav class='tabs'>
  <a ui-sref-active="active" ui-sref="home">My List</a>
  <a ui-sref-active="active" ui-sref="archive">Archives</a>
  <a ui-sref-active="active" ui-sref="about">About</a>
</nav>

<main>
  <!-- begin add new todo -->
  <form class="add-todo" ng-submit="addTodo()">
    <input class="text-box" type="text" placeholder="I need to..." ng-model="text">
    <input type="submit" class="btn btn-add" value="+">
  </form>
  <!-- end add new todo -->

  <!-- begin show all todos -->
  <section class="todo-list">
    <ul>
      <li ng-repeat="todo in remainingTodos()">
        <input class="checkbox" type="checkbox" ng-model="todo.done" id="todo-{{$index}}">

        <!-- Label of todo.task | Hide in editing-->
        <label ng-hide="editing"
               for="todo-{{$index}}"
               ng-class="{done: todo.done}">{{ todo.task }}</label>
        <!-- Input for Editing Todo | Show in editing-->
        <input ng-show="editing"
               type="text"
               ng-model="todo.edit">
        <!-- Delete Button | Hide in editing-->
        <button ng-hide="editing"
                class="btn btn-delete"
                ng-click="deleteTodo($index)">x</button>
        <!-- Edit Button | Hide in editing-->
        <button ng-hide="editing"
                class="btn btn-delete"
                ng-click="todo.edit = todo.task; editing = true">Edit</button>
        <!-- Save Button | Show in editing -->
        <button ng-show="editing"
                class="btn btn-delete"
                ng-click="todo.task = todo.edit; editing = false">Save</button>
        <!-- Cancel Button | Show in editing -->
        <button ng-show="editing"
                class="btn btn-delete"
                ng-click="editing = false">Cancel</button>
      </li>
    </ul>
  </section>
  <!-- end show all todos -->
</main>